#header-menu-outer {
    height: 60px;
    padding-top: 6px;
    background-color: rgba(45,43,65,255)
}

.table {
    display: table;
    margin: 0 auto;
    background-color: #424142;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
}
ul#horizontal-list li {
    display: inline;
}

.list-item-nav{

}